# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Garbage files
.DS_Store